<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <!-- We call avatar_url to fetch the current user's avatar. -->
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <!-- We use Rails' image_tag method to create an <img>. -->
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>
 
<!-- We display all of the user's posts and comments using partials. -->
<% if user_has_posts?(@user) %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% else %>
    <p><%= @user.name %> has not submitted any posts yet"</p>
<% end %>
    
<% if user_has_comments?(@user) %>
    <h2>Comments</h2>
    <%= render @user.comments %>
<% else %>
    <p><%= @user.name %> has not submitted any comments yet"</p>
<% end %>

<h2>Favorite Posts</h2>
<%= render @user.favorites.map(&:post) %>